.advertising {
  display: inline-block;
  background-color: gainsboro;
  width: 80em;
  height: 39em ;
}
.advertising h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 5em;
}
.advertising .form-name {
  margin-left: 20em;
}
.advertising .form-name .form-control {
  height: 3em;
  width: 15em;
  border: 0px solid  white;
}
.advertising .form-surname {
  margin-left: 20em;
  margin-top: 3em;
}
.advertising .form-surname .form-control2 {
  height: 3em;
  width: 15em;
  border: 0px solid  white;
}
.advertising .form-messange {
  margin-left: 48em;
  margin-top: -8.2em;
}
.advertising .form-messange .form-control3 {
  height: 9.5em;
  width: 20em;
  border: 0px solid  white;
}
.advertising .submit {
  border-radius: 0.5em;
  border: 1px solid gray;
  background-color: #8CCB5E ;
  margin-left: 25em;
  margin-top: 2em;
  width: 12em;
  height: 2em;
  font-size: 1.3em;
  font-weight: lighter;
}
.advertising .no_messange_arrived {
  margin-left: 35em;
  font-family: Arial, Helvetica, sans-serif;
  color: #3E5F8A;
}
